<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="favicon" href="img/favicon.ico">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icon-bar">
  <a href="/"><i class="fa fa-home"></i></a> 
 </div>
	<title>FinExam</title>
	<style>
	body{
		background:url(img/bgg.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; : 
</style>
	<link rel="stylesheet" type="text/css" href="css/app1.css">
	</head>
<body background="img/bgg.jpg">
<div id="app1"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
	<script type="text/javascript" src="js/app1.js"></script>
</body>
</html>