<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="favicon" href="img/favicon.ico">
<div class="icon-bar">
  <a href="/hp"><i class="fa fa-home"></i></a> 
 </div>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>FinExam</title>
	<style>
	body{
		background:url(img/bggggg.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; 
</style>
	<link rel="stylesheet" type="text/css" href="css/app5.css">
	</head>
<body background="img/bggggg.jpg">
	<div id="app5"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script type="text/javascript" src="js/app5.js"></script>
</body>
</html>