<!DOCTYPE html>
<html>
<head>
<style>
	.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

</style>
<title>WebAss</title>
</head>
<body>
<div class="flex-container">
<header>
  <h1>Search Engine Optimization</h1>
</header>

<article class="article">

<h1>1. What is Search Engine Optimization?</h1><font face="verdana" color="green">
<p class="inset">SEO or Search Engine
Optimization is the name given to activity that attempts to improve search engine rankings.In search results Google displays links to pages it considers relevant and authoritative. Authority is mostly measured by analysing the number and quality of links from other web pages.In simple terms your web pages have the potential to rank in Google so long as other web pages link to them.
SEO is a marketing discipline focused on growing visibility in organic (non-paid) search engine results. SEO encompasses both the technical and creative elements required to improve rankings, drive traffic, and increase awareness in search engines.</font>
</p>
<h2>2. Guidelines on how to read a Search Engine Results Page.</h2>
<h3>LOOK AT LOCAL RESULTS.</h3>
<p><font face="verdana" color="green">There is a relatively new type of result that has become incredibly important, with a huge presence in many search-results pages. Search Yahoo!, for instance, for the term personal injury attorney, and you may see something like the figure. These Local results can take up a lot of space, in particular in Google and Yahoo!, and thus are an important consideration for businesses that serve a particular geographic area.</font></p>
<h3>CHECK OUT SHOPPING RESULTS.</h3>
<p><font face="verdana" color="green">It is often not hard for the search engines to figure out when someone is quite likely searching for a product he may be interested in buying. If someone searches for shoes, it is quite likely he is interested in buying a pair, either offline (that is where the Local results come in) or online (that is where the Shopping results come in).</font></p>
<h3>STAY CURRENT WITH NEWS RESULTS.</h3>
<p><font face="verdana" color="green">Another significant search-result component is the news results. If the search engines think News results might be useful to you, based on your search — search for obama or just about any country name, for instancethen you will see News results embedded into the results page.
You have almost certainly seen video and image results in the search engines. All three of the major search engines index Youtube.com (it is owned by Google).</font></p>
<h3>GET FRIENDLY WITH SOCIAL RESULTS.</h3>
<p><font face="verdana" color="green">Currently the three major search engines incorporate social-network results into the organic index; in other words, they index social-network sites just like any other site.</font></p>
<h3>COLLECT BITS AND PIECES.</h3>
<p><font face="verdana" color="green">Finally, the search engines often embed little “bits and pieces” into the search results, data totally separate from these other indexes. For instance, search for sunrise 80209 in Google, and right at the top of the search results you’ll see the time of the next sunrise.</font>
</p>
<h2>3. How SEO Affects Business?</h2><p><font face="verdana" color="green">SEARCH ENGINE OPTIMIZATION refers to the method of making a website exist and be accessed by other people so that it can gain popularity and subsequent value.
By placing your business in the various search engines, SEO makes it easier for people to have as much information as they would want regarding your business. By making it more detailed, potential customers have a clear idea of what they want and what they expect to get if they come to your site or business to purchase your products and/or services.  This is also a boost in the case of websites that are businesses in themselves.</font>
</p>
<h2>4. List some of important SEO expectations.</h2><h3>STEP 1: DEFINE YOUR TARGET AUDIENCE AND THEIR INTERESTS</h3><font face="verdana" color="green">The first step in most marketing campaigns, Search Marketing included, is to start by defining your target audience.  Your target audience is a defined set of people who you are marketing your product to.
Content Strategy: You want to provide content and tools that are as relevant and useful as possible to your target audiences.  This goes beyond regular SEO practices and into site strategy, although providing relevant, useful content in itself is linkbait. For example, let’s say I have a health site.  I have several types of articles on health, drug information, and information on types of diseases and conditions.  My angle on the site is that I’m targeting seniors.  If I find out seniors are primarily interested in information on prescription drug plans and cheap Viagra, then I know that I want to provide information specifically on those things.  This allows me to hone in on that market’s needs and deprioritize or bypass other content.
Targeted Keyword Discovery: Ideally you’ll want to do keyword research based on what the audience wants, not solely on what content the site already has (or plans to have sans audience targeting), which may be limited. I can do keyword research on health conditions and drugs (content I have on my site) and determine what the general population is searching for and optimize my current content, or I can cast my net wide and look at what my target audience wants first, then do my keyword research.  You may find there are needs that your site is not meeting.  Knowing my senior audience is interested in primarily in prescription drug plans and cheap Viagra, I can first make sure I’m providing that content, and then further determine the top keywords in these areas (in the next article Step 2), and use those terms in relevant and high visibility areas on my site.</font>
<h3>Step 2: Categorized Keyword Research</h3>
<font face="verdana" color="green">Step 2 isn’t groundbreaking stuff, but it’s approached in a slightly different manner in order to use and abuse further in our strategy document.  It’s your regular keyword research broken out into categories for segmentation and prioritization, and we’ll use that for prioritizing and determining gaps and opportunities in Step 3 and for competitive research in Step 4.</font>
<h3>Step 3: Finding Gaps and Opportunities</h3>
<font face="verdana" color="red">In this step we’re going to look at two things:</font><h4>a.Highlighting initial prioritizations</h4>
<font face="verdana" color="green">Now that you know your keywords and their search volume well, highlight tabs/keyword groups (I usually give them a color) that have a lot of search volume, or tabs that you otherwise feel are important to pay attention to.</font>
<h4>b.Finding Gaps and Opportunities</h4><font face="verdana" color="green">basically means we’re going to look at estimated search volume, and referral volume to try to get a sense where we might be doing well and we might not be.  Because search volume numbers that we have are estimates.</font>
<h3>Step 4: Define Competitors</h3>
<font face="verdana" color="green">There are several ways you can do this. If you’ve already got a method you like and want to stick with – by all means do (and if you’re compelled to share your method with us in the comments – you know we love to hear it).  I’m going to give you an example of how I pull this data together.</font> 
</p>
</body>
</html>