<!DOCTYPE html>
<html>
<head>
	<title>FinExam</title>
</head>
<link rel="shortcut icon" type="favicon" href="img/favicon.ico">

<body background="img/hp.jpg">

<font face-"Chiller" size="10" color=#1B8BD0>

<center>
<style>
body 
{
	background:url("img/hp.jpg")
    background-repeat: no-repeat;
	background-size: cover;
	background-repeat: top-center;
	background-attachment:fixed; 
}</style>

	<h1>Pirates of the Caribbean</h1>
	<h3><a href="app1">The Curse of the Black Pearl</a></h3>
	<h3><a href="app2">Dead Man's Chest</a></h3>
	<h3><a href="app3">At World's End</a></h3>
	<h3><a href="app4">On Stranger Tides</a></h3>
	<h3><a href="app5">Dead Men Tell No Tales</a></h3>
	<body>
<audio autoplay>
  <source src="msc/potc.ogg" type="audio/ogg">
  <source src="msc/potc.mp3" type="audio/mpeg">
  </audio>
</body>
	</center>
	</font>
</body>
</html>