.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid yellow;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
icon-bar {
    width: 40%;
    }
.icon-bar a {
    float: left;
    text-align: center;
    width: 10%;
    color: white;
    font-size: 35px;
  }
.icon-bar a:hover {
    background-color: #FF032D;
}
h1{
  text-align: center;
  font-family: "Italic";
  font-size: 60px;
  color: #FE063B;
}
h3{
  text-align: center;
  font-family: "Lucida Fax";
  font-size: 30px;
  color: #FE063B;
}